body,
html {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1 {
    font-weight: 500;
    color: #4c4e52;
    text-transform: uppercase;
}
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9fcff;
    background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vh;
    height: 100svh;
}

.grid-container {
    /* Display as a grid */
    /* display: grid; */
    /* Set the grid layout with 16 columns and rows */
    /* grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr); */
    height: 30em;
    width: 40em;
    background-color: #dee4ea;
    /* border: 50px solid #e0504d;
    border-radius: 50px;
    box-shadow: 10px 10px 5px #888888; */
}
.border {
    padding: 3.125rem 3.125rem 3.125rem 3.125rem;
    background-color: #e0504d;
    border-radius: 3.125rem;
    box-shadow: 10px 10px 5px #888888;
}

.grid-cell {
    /* Set any additional styles for the grid cells */
    /* flex: 0 0 100px;
    height: 100px; */
    border: 1px solid #5a5a5a;
    /* aspect-ratio: 1 / 1; */
}

.buttons-section {
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;
}

.grid-input {
    padding: 0.75em;
    border-radius: 10px;
    font-size: 1em;
}
.grid-size-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button {
    display: inline-block;
    text-align: center;
    border: none;
    font-size: normal;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 15px 30px;
    box-shadow: 5px 5px 5px #1f1f1f;
}

.button:hover {
    box-shadow: inset 0px 0px 10px #1f1f1f;
}

.grid-cell-hover {
    background-color: #5a5a5a;
}
